In [1]:
import os
print os.getcwd()

C:\Users\Sherief-PC

In [2]:
import graphlab

In [3]:
sf = graphlab.SFrame('people-example.csv')

This non-commercial license of GraphLab Create is assigned to sherifwaly95@yahoo.com and will expire on June 23, 2017. For commercial licensing options, visit https://dato.com/buy/.

[INFO] graphlab.cython.cy_server: GraphLab Create v1.10.1 started. Logging: C:\Users\SHERIE~1\AppData\Local\Temp\graphlab_server_1466803861.log.0

Finished parsing file C:\Users\Sherief-PC\people-example.csv

Parsing completed. Parsed 7 lines in 0.02602 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\Sherief-PC\people-example.csv

Parsing completed. Parsed 7 lines in 0.018013 secs.

In [4]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [5]:
sales = graphlab.SFrame('home_data.gl/')

IOError: Cannot open C:/Users/Sherief-PC/home_data.gl/dir_archive.ini for read. Cannot open C:/Users/Sherief-PC/home_data.gl/dir_archive.ini for reading

In [6]:
sales = graphlab.SFrame('home_data.gl/')

IOError: Cannot open C:/Users/Sherief-PC/home_data.gl/dir_archive.ini for read. Cannot open C:/Users/Sherief-PC/home_data.gl/dir_archive.ini for reading

In [7]:
sales = graphlab.SFrame('home_data.csv/')

RuntimeError: Runtime Exception. Unable to parse frame index file C:\Users\Sherief-PC\home_data.csv

In [8]:
sales = graphlab.SFrame('home_data.csv')

Finished parsing file C:\Users\Sherief-PC\home_data.csv

Parsing completed. Parsed 100 lines in 0.120762 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,str,long,long,float,long,long,float,long,long,long,long,long,long,long,long,long,float,float,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\Sherief-PC\home_data.csv

Parsing completed. Parsed 21613 lines in 0.090037 secs.

In [16]:
sales
len(sales)

9118

In [11]:
graphlab.canvas.set_target('ipynb')
sales.show(view="Scatter Plot", x="zipcode", y="price")

In [12]:
sales = sales[(sales['sqft_living'] > 2000 and sales['sqft_living'] <= 4000)]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [13]:
sales = sales[(sales['sqft_living'] > 2000) & (sales['sqft_living'] <= 4000)]

In [14]:
sales

Columns:
	id	int
	date	str
	price	int
	bedrooms	int
	bathrooms	float
	sqft_living	int
	sqft_lot	int
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	int
	lat	float
	long	float
	sqft_living15	int
	sqft_lot15	int

Rows: Unknown

Data:
+------------+-----------------+---------+----------+-----------+-------------+
|     id     |       date      |  price  | bedrooms | bathrooms | sqft_living |
+------------+-----------------+---------+----------+-----------+-------------+
| 6414100192 | 20141209T000000 |  538000 |    3     |    2.25   |     2570    |
| 1736800520 | 20150403T000000 |  662500 |    3     |    2.5    |     3560    |
| 9297300055 | 20150124T000000 |  650000 |    4     |    3.0    |     2950    |
| 2524049179 | 20140826T000000 | 2000000 |    3     |    2.75   |     3050    |
| 7137970340 | 20140703T000000 |  285000 |    5     |    2.5    |     2270    |
| 3814700200 | 20141120T000000 |  329000 |    3     |    2.25   |     2450    |
| 1794500383 | 20140626T000000 |  937000 |    3     |    1.75   |     2450    |
| 1873100390 | 20150302T000000 |  719000 |    4     |    2.5    |     2570    |
| 8562750320 | 20141110T000000 |  580500 |    3     |    2.5    |     2320    |
| 461000390  | 20140624T000000 |  687500 |    4     |    1.75   |     2330    |
+------------+-----------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   7242   |  2.0   |     0      |  0   |     3     |   7   |    2170    |      400      |
|   9796   |  1.0   |     0      |  0   |     3     |   8   |    1860    |      1700     |
|   5000   |  2.0   |     0      |  3   |     3     |   9   |    1980    |      970      |
|  44867   |  1.0   |     0      |  4   |     3     |   9   |    2330    |      720      |
|   6300   |  2.0   |     0      |  0   |     3     |   8   |    2270    |       0       |
|   6500   |  2.0   |     0      |  0   |     4     |   8   |    2450    |       0       |
|   2691   |  2.0   |     0      |  0   |     3     |   8   |    1750    |      700      |
|   7173   |  2.0   |     0      |  0   |     3     |   8   |    2570    |       0       |
|   3980   |  2.0   |     0      |  0   |     3     |   8   |    2320    |       0       |
|   5000   |  1.5   |     0      |  0   |     4     |   7   |    1510    |      820      |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+---------+----------+---------------+-----+
| yr_built | yr_renovated | zipcode |   lat   |   long   | sqft_living15 | ... |
+----------+--------------+---------+---------+----------+---------------+-----+
|   1951   |     1991     |  98125  |  47.721 | -122.319 |      1690     | ... |
|   1965   |      0       |  98007  | 47.6007 | -122.145 |      2210     | ... |
|   1979   |      0       |  98126  | 47.5714 | -122.375 |      2140     | ... |
|   1968   |      0       |  98040  | 47.5316 | -122.233 |      4110     | ... |
|   1995   |      0       |  98092  | 47.3266 | -122.169 |      2240     | ... |
|   1985   |      0       |  98030  | 47.3739 | -122.172 |      2200     | ... |
|   1915   |      0       |  98119  | 47.6386 | -122.36  |      1760     | ... |
|   2005   |      0       |  98052  | 47.7073 | -122.11  |      2630     | ... |
|   2003   |      0       |  98027  | 47.5391 | -122.07  |      2580     | ... |
|   1929   |      0       |  98117  | 47.6823 | -122.368 |      1460     | ... |
+----------+--------------+---------+---------+----------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [15]:
len(sales)

9118

In [17]:
sales
len(sales)

9118

In [18]:
sales = graphlab.SFrame('home_data.csv')
len(sales)

Finished parsing file C:\Users\Sherief-PC\home_data.csv

Parsing completed. Parsed 100 lines in 0.153111 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,str,long,long,float,long,long,float,long,long,long,long,long,long,long,long,long,float,float,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\Sherief-PC\home_data.csv

Parsing completed. Parsed 21613 lines in 0.08708 secs.

21613

In [22]:
print 'percentage = ', 9118.0/21613

percentage =  0.421875722945

In [24]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [25]:
advanced_features

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'zipcode',
 'condition',
 'grade',
 'waterfront',
 'view',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [26]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [27]:
train_data,test_data = sales.random_split(.8,seed=0)

In [28]:
my_features_model = graphlab.linear_regression.create(train_data,target='price',features=my_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 1.043724     | 4091252.851074     | 257411.521124 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [29]:
my_features_model.evaluate(test_data)

{'max_error': 3980583.1422290653, 'rmse': 252787.38364223117}

In [32]:
###First RMSE CALCULATED

In [33]:
advanced_features_model = graphlab.linear_regression.create(train_data,target='price',features=advanced_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 19

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.023018     | 4313845.796148     | 202879.786275 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [34]:
advanced_features_model.evaluate(test_data)

{'max_error': 4104391.8703562953, 'rmse': 199908.40407387982}

In [35]:
my_rmse = my_features_model.evaluate(test_data)['rmse']

In [36]:
advanced_rmse = advanced_features_model.evaluate(test_data)['rmse']

In [37]:
print "MY_RMSE = ",my_rmse
print "ADVANCED_RMSE = ",advanced_rmse
print "DIFF = ",my_rmse-advanced_rmse

MY_RMSE =  252787.383642
ADVANCED_RMSE =  199908.404074
DIFF =  52878.9795684

In [38]:
sales

Columns:
	id	int
	date	str
	price	int
	bedrooms	int
	bathrooms	float
	sqft_living	int
	sqft_lot	int
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	int
	lat	float
	long	float
	sqft_living15	int
	sqft_lot15	int

Rows: 21613

Data:
+------------+-----------------+---------+----------+-----------+-------------+
|     id     |       date      |  price  | bedrooms | bathrooms | sqft_living |
+------------+-----------------+---------+----------+-----------+-------------+
| 7129300520 | 20141013T000000 |  221900 |    3     |    1.0    |     1180    |
| 6414100192 | 20141209T000000 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 20150225T000000 |  180000 |    2     |    1.0    |     770     |
| 2487200875 | 20141209T000000 |  604000 |    4     |    3.0    |     1960    |
| 1954400510 | 20150218T000000 |  510000 |    3     |    2.0    |     1680    |
| 7237550310 | 20140512T000000 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 20140627T000000 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 20150115T000000 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 20150415T000000 |  229500 |    3     |    1.0    |     1780    |
| 3793500160 | 20150312T000000 |  323000 |    3     |    2.5    |     1890    |
+------------+-----------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |  1.0   |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |  2.0   |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |  1.0   |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |  1.0   |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |  1.0   |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |  1.0   |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |  2.0   |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |  1.0   |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |  1.0   |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |  2.0   |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+---------+----------+---------------+-----+
| yr_built | yr_renovated | zipcode |   lat   |   long   | sqft_living15 | ... |
+----------+--------------+---------+---------+----------+---------------+-----+
|   1955   |      0       |  98178  | 47.5112 | -122.257 |      1340     | ... |
|   1951   |     1991     |  98125  |  47.721 | -122.319 |      1690     | ... |
|   1933   |      0       |  98028  | 47.7379 | -122.233 |      2720     | ... |
|   1965   |      0       |  98136  | 47.5208 | -122.393 |      1360     | ... |
|   1987   |      0       |  98074  | 47.6168 | -122.045 |      1800     | ... |
|   2001   |      0       |  98053  | 47.6561 | -122.005 |      4760     | ... |
|   1995   |      0       |  98003  | 47.3097 | -122.327 |      2238     | ... |
|   1963   |      0       |  98198  | 47.4095 | -122.315 |      1650     | ... |
|   1960   |      0       |  98146  | 47.5123 | -122.337 |      1780     | ... |
|   2003   |      0       |  98038  | 47.3684 | -122.031 |      2390     | ... |
+----------+--------------+---------+---------+----------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [39]:
train_data,test_data = sales.random_split(0,seed=0)

In [40]:
advanced_features_model.evaluate(test_data)

{'max_error': 4313845.796148293, 'rmse': 202301.81245838883}

In [41]:
my_features_model.evaluate(test_data)

{'max_error': 4091252.8510738574, 'rmse': 256513.27921179825}

In [42]:
print my_features_model.predict(sales)

[288926.1458730735, 730345.7452716269, 195950.78452649713, 483590.8214783892, 439146.1442421414, 1558493.0391141362, 434852.66712707654, 257143.66134208813, 475007.9956429638, 499501.3532084711, 1034003.6606146581, 337713.79997158423, 334846.44602845237, 336932.63611746207, 352033.8704548888, 793516.9307540171, 489015.3603082858, 341516.8068219349, 329268.9690345302, 279062.6248819046, 362673.3033718169, 866528.1821437478, 498069.3031745367, 297161.9809825793, 675363.8155878037, 434373.4858802371, 687825.3262615018, 346361.3604724817, 393393.8338339329, 653325.9671472609, 636303.520036485, 345302.88771880046, 584615.7128546871, 247371.23995049298, 499034.37916871905, 648587.4852465279, 344081.7169421613, 591554.7033703625, 203238.17107815668, 669930.7445075288, 657777.8200940639, 1199984.6438526846, 918478.8786408938, 399008.7045362443, 298427.80417506024, 900876.770299457, 199667.07313877344, 553468.3546182252, 306977.18365537, 767394.048728697, 285615.5138914585, 778558.7731666341, 359273.4542751163, 606911.2958252877, 648509.5380544178, 746782.2352842912, 549893.2800988033, 670745.0357209817, 801492.9447874501, 427326.2436287366, 603810.9614369534, 315168.0681268871, 716175.5787571892, 390249.8977712169, 444200.4300031848, 806405.2490619607, 691609.072574798, 539398.7268780991, 205006.68023346737, 779336.7836202942, 1281652.0744805373, 298287.2173233144, 721988.9898555242, 590690.6030731648, 451869.3585423976, 937150.9232227243, 384696.78462404385, 233304.05929119512, 354923.9007990472, 916842.0616116226, 647477.038830068, 436499.65297779813, 613705.7133987881, 431723.9722122289, 208703.00717366487, 585849.7404614277, 622947.3167264201, 791733.3393507153, 478628.28619000316, 302581.0867714025, 458978.5396074876, 919955.5290255137, 266312.7053565271, 411178.9342112988, 411178.9342112988, 889878.4230143577, 516604.1034058295, 193019.26212072, 460580.8161801435, 628163.641018413, ... ]

In [46]:
sales = graphlab.SFrame('home_data.gl/')

In [47]:
sales

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [48]:
train_data,test_data = sales.random_split(.8,seed=0)

In [49]:
my_rmse = my_features_model.evaluate(test_data)['rmse']

[ERROR] graphlab.toolkits._main: Toolkit error: Column 'bedrooms' has type string; cannot be treated as numeric.

ToolkitError: Column 'bedrooms' has type string; cannot be treated as numeric.

In [50]:
advanced_features_model = graphlab.linear_regression.create(train_data,target='price',features=advanced_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.069047     | 3469012.450686     | 154580.940736 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [51]:
my = graphlab.linear_regression.create(train_data,target='price',features=my_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.024015     | 3763208.270523     | 181908.848367 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [52]:
my_rmse = my_features_model.evaluate(test_data)['rmse']

[ERROR] graphlab.toolkits._main: Toolkit error: Column 'bedrooms' has type string; cannot be treated as numeric.

ToolkitError: Column 'bedrooms' has type string; cannot be treated as numeric.

In [53]:
my_features_model.evaluate(test_data)

[ERROR] graphlab.toolkits._main: Toolkit error: Column 'bedrooms' has type string; cannot be treated as numeric.

ToolkitError: Column 'bedrooms' has type string; cannot be treated as numeric.

In [54]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [55]:
my_features_model = graphlab.linear_regression.create(train_data,target='price',features=my_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.042029     | 3763208.270523     | 181908.848367 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [56]:
my_features_model.evaluate(test_data)

{'max_error': 3486584.509381705, 'rmse': 179542.4333126903}

In [57]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]
advanced_features_model = graphlab.linear_regression.create(train_data,target='price',features=advanced_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.048033     | 3469012.450686     | 154580.940736 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [58]:
advanced_features_model.evaluate(test_data)

{'max_error': 3556849.413858208, 'rmse': 156831.1168021901}

In [59]:
my_rmse = my_features_model.evaluate(test_data)['rmse']
advanced_rmse = advanced_features_model.evaluate(test_data)['rmse']

In [60]:
print "MY_RMSE = ",my_rmse
print "ADVANCED_RMSE = ",advanced_rmse
print "DIFF = ",my_rmse-advanced_rmse

MY_RMSE =  179542.433313
ADVANCED_RMSE =  156831.116802
DIFF =  22711.3165105